<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>TWEETS</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
          rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js">
    </script>
   <link rel="stylesheet" type="text/css" href="/custom.css"/>
    
  </head>
  <body>
      <div class="container-fluid bg-light justify-content-center">
      <div class="row">
        <div class="span6" style="float: none; margin: 0 auto;">
            <br/>
            <h1 class="text-center">Guess who tweeted what!</h1>
            <form th:action="@{/search}" th:object="${searchRequest}" method="post" 
                  autocomplete="off">
                <div class="form-group row">
                    <input type="text" th:field="*{searchTerms}" 
                           placeholder="Search Term" class="form-control"/>
                </div>
                <button class="btn btn-md btn-primary btn-block" 
                            name="Submit" value="Submit" type="Submit">Find
                </button>

            </form>
            <br/>
        </div>
    </div>
    </div>
    <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4" id="main" th:if="${profilePicArray!=null and profilePicArray.size()>0}">  		
    		    <div class="col-md-5ths" th:each="index : ${#numbers.sequence( 0, #arrays.length(profilePicArray)-1)}">
    		         <div class="card">
    		    	<img th:src=${profilePicArray[index]} class="card-img-top">
    		    	<div class="card-body">
    		    		<h5 class = "card-title" th:text=${userNameArray[index]}></h5>
    		    	</div>
    		    	</div>
    		    </div>
    </div>
     <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4" id="main" th:if="${profilePicArray!=null and profilePicArray.size()>0}">
     			<form class="form-inline" th:action="@{checkQuiz}" method = "post">	
    		    <div class="col-md-5ths" th:each="index : ${#numbers.sequence( 0, #arrays.length(profilePicArray)-1)}">
    		    		<div class="card">
    		      		<input type="number" name="guessNum" th:value = "${guessNum}" class ="form-control" min="1" max="5"/>
    		      		<div class="card-body">
    		    		     <h5 class = "card-title" th:text=${userNameArray[index]}></h5>
    		    	    </div>
    		    		<!-- th:placeholder="'Enter Tweet# for:' + ${userNameArray[index]}"  -->
    		   			</div>
    		    </div>
    		    <br/>
    		    <div>
    		     <button type="submit" class="btn btn-primary">See how you did</button>
    		    </div>
    		    </form>
    </div>
    <hr>
    <div class="card-group" th:if="${profilePicArray!=null and profilePicArray.size()>0}">  		
    		    <div class="card" th:each="index : ${#numbers.sequence( 0, #arrays.length(profilePicArray)-1)}">
    		    	<div class="card-body">
    		    	  <p class = "card-text" th:text="'Tweet# ' + ${index+1}"></p>
    		    		<p class = "card-text" th:text=${shuffledTweets[index]}></p>
    		    	</div>
    		    </div>
    </div>
    
    
    </body>
   <!--  <div class = container>
      <div class="list-group">
    	<div class="row" th:if="${profilePicArray!=null and profilePicArray.size()>0}">
    	
    		<!--  <div class="col-md-3"th:each="profURL: ${profilePicArray}">
    		<div class="d-flex w-100 justify-content-between" th:each="index : ${#numbers.sequence( 0, #arrays.length(profilePicArray)-1)}">
    		 <div class="card border-primary mb-3 text-center list-group-item left-side" style=" height: auto ;width: 200px">
    		
    		 	<img class="card-img=top mx-auto d-block img-responsive" th:src=${profilePicArray[index]} style="width:100px;height:100px;object-fit:cover;" alt="Card image cap">
    		 	<div class="card-body">
    		 		<p class="card-text" th:text=${userNameArray[index]}></p>
    		 	</div>
    		 </div>
    		</div>
    		</div>
    	</div>
   	
   
   	 <div class="row" th:if="${profilePicArray!=null and profilePicArray.size()>0}">
    	
    		<!--  <div class="col-md-3"th:each="profURL: ${profilePicArray}">
    		<div class="d-flex w-100 justify-content-between" th:each="index : ${#numbers.sequence( 0, #arrays.length(profilePicArray)-1)}">
    		 <div class="card border-primary mb-3 text-center list-group-item right-side"style=" height: auto ;width: 200px">
    		
    		 	<img class="card-img=top mx-auto d-block img-responsive" th:src=${profilePicArray[index]} style="width:100px;height:100px;object-fit:cover;" alt="Card image cap">
    		 	<div class="card-body">
    		 		<p class="card-text" th:text=${userNameArray[index]}></p>
    		 	</div>
    		 </div>
    		</div>
    		
    	</div>
   	 </div>
   	 </div>
    </body>-->
      